DEBUG=True
SECRET_KEY=change-this-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=sqlite:///db.sqlite3
EXTERNAL_PRODUCT_API_URL=https://dummyjson.com/products/search
SITE_DOMAIN=127.0.0.1:8000
GOOGLE_CLIENT_ID=CHANGE_ME_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=CHANGE_ME_GOOGLE_CLIENT_SECRET
FACEBOOK_CLIENT_ID=CHANGE_ME_FACEBOOK_CLIENT_ID
FACEBOOK_CLIENT_SECRET=CHANGE_ME_FACEBOOK_CLIENT_SECRET
